.full {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

label {
  color: white;
}

.section {
  margin-bottom: 15px;
}

input {
  margin-bottom: 10px;
}

select { 
  margin-bottom: 3px;
  font-size: 16;
}

.row {
  clear: left;
  height: 18px;
  margin: 0px 0px 0px 0px;
  width: max-content;
  border-style: outset;
}

.column {
  background-color: white;
  height: 18px;
  float: left;
  display: flex;
  align-items: center;
}

.columnheader {
  background-color: rgb(160, 160, 160);
  width: 400px;
  height: 18px;
  float: left;
  display: flex;
  align-items: center;
}

.listview-text {
  margin: 0px 0px 0px 3px;
}

.separator {
  background-color: black;
  width: 1px;
  height: 18px;
  float: left;
}

.listviewitems {
  overflow-y: scroll; 
  height: 200px; 
  width: max-content;
}